@model BankStatementDefaultViewModel;

<h1>Resultado das transações</h1>

<partial name="~/Views/Shared/Partial/LoadValidationMessage.cshtml" />

<input type="button" class="btn btn-primary" id="salvar" value="Salvar Dados">

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo da Transação</th>
            <th scope="col">Valor</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    @if (Model.Transacoes.Count > 0)
    {
        <tbody>
            @foreach (var transaction in Model.Transacoes)
            {
                <tr>
                    <th scope="row">@transaction.Date</th>
                    <td>@transaction.Type</td>
                    <td>@transaction.Value</td>
                    <td>@transaction.Description</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    }

</table>

<script>
    var buttonSave = document.querySelector('#salvar').addEventListener("click", function (event) {

        var dataTable = document.querySelectorAll('.table tbody tr');
        var bankStatement = [];

        for (var i = 0; i < dataTable.length; i++) {

            var childernLine = dataTable[i].children;

            bankStatement.push({
                Trntype: childernLine[1].innerHTML,
                Dtposted: childernLine[0].innerHTML,
                Trnamt: childernLine[2].innerHTML,
                Memo: childernLine[3].innerHTML
            });
        }

        $.ajax({
            type: "POST",
            url: "/ProcessFiles/CreatedDBNewRegisterOfExtractBank",
            data: JSON.stringify({ Transacoes: bankStatement }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log("sucesso");
                console.log(result);
                location.href = '@Url.Action("Index","UploadFiles")';
            },
            error: function (ex) {
                console.log("erro");
                console.log(ex)
            }
        });
    });

</script>